<!-- templates/posts/group_list.html -->
{% extends 'base.html' %}
{% load thumbnail %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{{ content }}
{% for book in page_obj %}
<p>{{ book.title }}</p>
<p>{{ book.author_book }}</p>

{% thumbnail book.image_book "140x140" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
{% endthumbnail %}
  
  <p>
    <a href="{% url 'posts:book_list' book.pk %}">
      Book's details
    </a>
  </p>
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include 'includes/paginator.html' %}
{% endblock %} 