{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block content %}
{% include 'includes/switcher.html' %}
{% for post in page_obj %}
{% include 'includes/author_date_post.html' %}  
  {% if post.group %}   
    <a href="{% url 'posts:group_list' post.group.slug %}">
      #{{ post.group.title }}
    </a>
  {% endif %}
  <p>
    <a href="{% url 'posts:post_detail' post.pk %}">
      Post details
    </a>
  </p>
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}

{% include 'includes/paginator.html' %}
{% endblock %}