<!-- templates/posts/group_list.html -->
{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
{{ content }}
<div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
            {{ group.title }}
        </li>
        </ul>
    </aside>

    <article class="col-12 col-md-9">
        <p>            
            {{ group.description }}            
        </p>
    </article>      
</div>

<hr>
        
{% for post in page_obj %}
{% include 'includes/author_date_post.html' %} 
<a href="{% url 'posts:post_detail' post.pk %}">Post's details</a>               

    
{% if not forloop.last %}<hr>{% endif %}
{% endfor %}
{% include 'includes/paginator.html' %}
{% endblock %}  